@use 'sass:math';

@import url(animated.4.1.1.css);

$baseTxtColor: #222;
$mainColor: #854eff;
:root {
  --inner-margin: 4rem;
  --main-color: #{$mainColor};
}
html {
  font-size: 62.5%;
}
.reveal {
  .controls {
    color: var(--main-color) !important;
  }
  .code-wrapper {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.4rem;
    width: 100%;
  }
  .hljs {
    padding: 1rem 1.5rem;
    &.not-pre {
      white-space: normal;
    }
  }
}
.full-bg1 {
  background: url(../images/1/full-bg1.png) no-repeat center center / cover;
}
.full-bg2 {
  background: url(../images/1/full-bg2.jpg) no-repeat center center / cover;
}
.full-bg3 {
  background: url(../images/1/full-bg3.jpg) no-repeat center center / cover;
}
.full-bg4 {
  background: url(../images/1/full-bg4.jpg) no-repeat center center / cover;
}
.full-bg5 {
  background: url(../images/1/full-bg5.jpg) no-repeat center center / cover;
}
.full-bg6 {
  background: url(../images/1/full-bg6.png) no-repeat center center / cover;
}
.slide-background-content {
  background-color: #f1f1f1;
}
[data-auto-animate] {
  background-color: #fff;
}
.bg-yellow {
  background-color: #ff0;
}
.fc-red {
  color: #d00 !important;
}
.fc-main {
  color: var(--main-color) !important;
}
.fc-yellow {
  color: #ff0;
}
.t-center {
  text-align: center !important;
}
.t-left {
  text-align: left !important;
}
.underline {
  text-decoration: underline;
}
.lh-15 {
  line-height: 1.5;
}
.bg-line {
  background: linear-gradient(180deg, transparent 70%, lighten($mainColor, 30%) 70%, lighten($mainColor, 30%) 95%, transparent 90%);
}

.wrap {
  line-height: 1.4;
  position: relative;
  padding-top: math.div(2480, 3508) * 100%;
  > .inner {
    position: absolute;
    left: var(--inner-margin);
    right: var(--inner-margin);
    top: calc(var(--inner-margin) / 2);
    bottom: calc(var(--inner-margin) / 2);
    &.v-center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      > div:not(.not-full) {
        width: 100%;
      }
    }
  }
}
.main-page {
  --r-heading-text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  color: #fff;
  .inner {
    text-align: left;
    h1 {
      position: relative;
      color: #fff;
      margin: 0;
      padding-top: 1rem;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: calc(var(--inner-margin) * -1);
        display: block;
        height: 1px;
        background: #fff;
      }
    }
    h2 {
      color: #fff;
      strong {
        margin-left: 1em;
      }
    }
    p {
      margin: 1rem 0 0;
    }
    .img {
      position: absolute;
      top: 0;
      right: 0;
      width: 25rem;
      img {
        margin: 0;
        width: 100%;
      }
    }
    .version {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 1.4rem;
      opacity: 0.5;
    }
    .writer {
      position: absolute;
      bottom: 0;
      right: 0;
      font-weight: 900;
      font-size: 2.4rem;
    }
  }
}
.end-page {
  .end-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background: radial-gradient(circle, rgba($mainColor, 0.9) 0%, rgba($mainColor, 0.8) 40%, rgba($mainColor, 0) 70%);
    // backdrop-filter: blur(2px);
    h2 {
      color: #fff;
      line-height: 1;
    }
  }
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  background: url(../images/logo.png) no-repeat center / contain;
  overflow: hidden;
  font-size: 0;
  margin: 0 !important;
  &:before {
    content: '';
    display: block;
    padding-top: math.div(56, 178) * 100%;
  }
  &.white {
    background-image: url(../images/logo-w.png);
  }
  &.ty2 {
    right: 0;
    left: auto;
  }
}
.list-page {
  text-align: left;
  .bg-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 22%;
    background: url(../images/1/img1-1.svg) no-repeat right bottom / 150%;
    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
  .bg-2 {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background: url(../images/1/img1-2.jpg) no-repeat center / cover;
  }
  .tit {
    display: flex;
    background: #333;
    width: 50%;
    color: #fff;
    padding: 1.2rem 1.5rem;
    align-items: flex-end;
    box-sizing: border-box;
    h2 {
      color: #fff;
      line-height: 1;
      margin: 0;
      font-weight: normal;
      font-size: 2.4rem;
    }
    p {
      font-size: 1.2rem;
      line-height: 1;
      margin: 0;
      margin-left: 0.5em;
    }
  }
  .list {
    height: calc(100% - 66px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 0;
    padding-left: 3em;
    font-size: 2.2rem;
    li {
      position: relative;
      width: 100%;
      list-style: none;
      padding-left: 2em;
    }
    .num {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
.sub-page {
  a {
    color: $baseTxtColor;
    text-decoration: underline;
  }
  .inner.v-center {
    padding-top: 5rem;
  }
}
.sub-tit {
  display: flex;
  align-items: center;
  text-align: left;
  font-weight: 900;
  .reveal & {
    margin-bottom: 3rem;
  }
  span {
    background: $baseTxtColor;
    color: #fff;
    font-size: 0.75em;
    padding: 0.3em 0.5em;
    border-radius: 0.7em;
    margin-right: 1em;
  }
  .inner.v-center & {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}
.sub-txt {
  font-size: 1.2rem;
  color: #999;
  p {
    margin: 0;
  }
}
.img-link {
  position: relative;
  display: inline-block;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border: 10px solid transparent;
    border-top-color: var(--main-color);
    border-left-color: var(--main-color);
  }
  img {
    vertical-align: top;
    margin: 0;
    max-width: none;
    max-height: none;
  }
}
.origin-info {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 !important;
  font-size: 1rem;
  opacity: 0.8;
}
.intro-dl {
  --radius-size: 3rem;
  position: relative;
  padding: 0 calc(var(--radius-size) * 1.5) calc(var(--radius-size) / 2);
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: var(--radius-size);
    height: 100%;
    border: 1px solid $baseTxtColor;
  }
  &:before {
    left: 0;
    border-right: 0 none;
    border-radius: var(--radius-size) 0 0 var(--radius-size);
  }
  &:after {
    right: 0;
    border-left: 0 none;
    border-radius: 0 var(--radius-size) var(--radius-size) 0;
  }
  > dt {
    text-align: center;
    strong {
      display: block;
      font-size: 5.6rem;
    }
    sub {
      display: block;
      font-weight: bold;
      font-size: 2.4rem;
    }
  }
  > dd {
    text-align: center;
    margin: 3rem 0 0;
    font-size: 1.8rem;
  }
}
.flex-item-wrap {
  display: flex;
  .flex-item {
    width: calc(50% - 1.5rem);
    flex-shrink: 0;
    box-sizing: border-box;
    + .flex-item {
      margin-left: 3rem;
    }
  }
  &.col-3 {
    .flex-item {
      width: calc(33.33% - 1rem);
      + .flex-item {
        margin-left: 1.5rem;
      }
    }
  }
}
dl.box-dl {
  background: #fafafa;
  border: 1px solid #ddd;
  margin: 0;
  padding: 0 2rem;
  > dt {
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
  }
  > dd {
    margin: 0;
    padding: 1.5rem 0;
    font-size: 1.6rem;
  }
  ul,
  p {
    margin: 0;
  }
  &.ty2 {
    padding: 0;
    border: 0 none;
    background-color: #eee;
    > dt {
      padding: 1rem 2.5rem;
      border-bottom: 0 none;
      color: #fff;
      background-color: $baseTxtColor;
    }
    > dd {
      padding: 2rem 2.5rem;
    }
  }
}
ul.list-txt,
ol.list-txt {
  display: block;
  margin: 0;
}
ol.list-txt {
  list-style: none;
  .list-tit {
    > strong:first-child {
      text-indent: -1.2em;
    }
  }
}
.list-txt {
  font-size: 1.6rem;
  > li {
    + li {
      margin-top: 3rem;
    }
  }
  p {
    margin: 0;
  }
  ol,
  ul {
    margin-left: 0 !important;
  }
  .list-tit {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
  .list-summary {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}
.code-box {
  position: relative;
  > .tit {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    z-index: 1;
    margin: 0;
    padding: 0.5rem;
    font-size: 1.2rem;
    // background: lighten($mainColor, 10%);
    background: $mainColor;
    transform: translate(30%, -50%);
  }
  .code-wrapper {
    margin: 0;
  }
}
.down-arrow {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: space-evenly;
  z-index: 1;
  margin: -1rem 0 0;
}
.ul-list-1 {
  margin: 3rem 0;
  font-size: 1.8rem;
}
.confetti-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}
/* content */
.sample-1 {
  display: flex;
  font-size: 1.6rem;
  margin: 3rem 0;
  .box {
    width: 100%;
    background: #f1f1f1;
    padding: 4rem 3rem;
    border-radius: 4rem;
    + .box {
      margin-left: 4rem;
    }
  }
  ul {
    margin: 0;
    padding-left: 2rem;
  }
}
.sample-2 {
  position: absolute;
  right: 0;
  top: 50%;
  width: 30rem;
  transform: translateY(-50%);
  text-align: right;
  img {
    max-width: 100%;
    margin-bottom: 0.5rem;
  }
}
.sample-3 {
  --item-size: 15rem;
  .top {
    display: flex;
    > div {
      position: relative;

      &:before {
        content: '';
        display: block;
        margin: 0 auto;
        height: 3rem;
        border: 1px solid #ddd;
        border-bottom: 0 none;
      }
      strong {
        position: absolute;
        top: 0;
        left: 50%;
        display: block;
        font-size: 2rem;
        padding: 0 0.5rem;
        background: #fff;
        transform: translate(-50%, -50%);
      }
    }
    .pre {
      width: 60%;
      &:before {
        width: 70%;
      }
    }
    .post {
      width: 40%;
      margin-left: 2rem;
      &:before {
        width: 54%;
      }
    }
  }
  .list {
    display: flex;
    .item {
      width: 100%;
      text-align: center;
      .circle {
        display: inline-flex;
        width: var(--item-size);
        height: var(--item-size);
        align-items: center;
        justify-content: center;
        background: #f1f1f1;
        border: 1px solid #ddd;
        border-radius: 50%;
        font-weight: 900;
        font-size: 2.4rem;
        line-height: 1.1;
        box-sizing: border-box;
      }
      p {
        margin-bottom: 0;
      }
    }
    .arrow {
      display: flex;
      width: 2rem;
      height: var(--item-size);
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
    }
  }
}
.sample-4 {
  .item {
    display: flex;
    + .item {
      margin-top: 2rem;
    }
    .tit {
      width: 40%;
      display: flex;
      align-items: center;
      text-align: right;
      justify-content: flex-end;
      padding-right: 2rem;
    }
    .img {
      width: 60%;
      text-align: right;
      img {
        max-width: 100%;
      }
      + .tit {
        text-align: left;
        justify-content: flex-start;
        padding-right: 0;
        padding-left: 2rem;
      }
    }
  }
}
@import 'animation';
