@import url(../css/normalize.css);
@import url(../css/reset.css);

html {
    font-size: 62.5%;
    height: 100%;
    text-size-adjust: none;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    .eng {
        font-family: 'Roboto', sans-serif;
    }
    .bold {
        font-weight: 700;
    }
    .hidden {
        display: none;
    }
    .fs-10 {
        font-size: 1rem;
    }
    .fs-11 {
        font-size: 1.1rem;
    }
    .fs-12 {
        font-size: 1.2rem;
    }
    .fs-13 {
        font-size: 1.3rem;
    }
    .fs-14 {
        font-size: 1.4rem;
    }
    .fs-16 {
        font-size: 1.6rem;
    }
    .fs-18 {
        font-size: 1.8rem;
    }
    .fs-20 {
        font-size: 2rem;
    }
    .fs-22 {
        font-size: 2.2rem;
    }
    .fs-26 {
        font-size: 2.6rem;
    }
}

.section {
    margin-bottom: 5rem;
    &.top {
        .tt-box {
            position: relative;
            z-index: 2;
            background: #fff;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            padding: 1.6rem;
        }
        .main-bg {
            z-index: -1;
            position: relative;
            height: 24.7rem;
            background-image: radial-gradient(#ff8a60, #fe7668);
            &:before {
                content: '';
                position: absolute;
                top: -1.7rem;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                width: 17rem;
                height: 17rem;
                background: url(../image/main_image3x.png) no-repeat;
                background-size: contain;
            }
            .box-wrap {
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                padding-left: 2.3rem;
                padding-right: 3.1rem;
                color: #fff;
                .box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 3rem;
                    .ico {
                        width: 2.8rem;
                        height: 2.8rem;
                        margin-bottom: 0.4rem;
                        background: url(../image/ic_trophy.png) no-repeat;
                        background-size: contain;
                    }
                    .fs-26 {
                        margin-top: 0.7rem;
                        margin-bottom: 0.6rem;
                        font-weight: 600;
                    }
                    .order::before {
                        content: '';
                        display: inline-block;
                        width: 0.6rem;
                        height: 0.6rem;
                        background: url("data:image/svg+xml,%0A%3Csvg width='6' height='5' viewBox='0 0 6 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.82 4.928L3 0.0439998L0.18 4.928H5.82Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat;
                    }
                    &.score {
                        .ico {
                            background-image: url(../image/ic_crown.png);
                        }
                    }
                }
            }
        }
        .view-box {
            width: 100%;
            margin-top: -9.4rem;
            padding-top: 1.6rem;
            background: #fff;
            border-radius: 3.2rem;
            .date {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: #b0b0b0;
                .tooltip {
                    display: inline-block;
                    width: 1.6rem;
                    height: 1.6rem;
                    margin-left: 0.4rem;
                    background: url("data:image/svg+xml,%0A%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_0_373)'%3E%3Ccircle cx='8' cy='8' r='7.5' stroke='%23B9C1C9'/%3E%3Cpath d='M6.33243 6.15384L6.62681 6.558L6.33243 6.15384C6.29796 6.17894 6.24535 6.19663 6.18564 6.19298C6.12598 6.18933 6.08018 6.16578 6.05412 6.1408C6.02963 6.11734 6.02651 6.09795 6.0265 6.08947C6.02655 5.65374 6.21942 5.22303 6.5845 4.89616C6.95144 4.56762 7.45985 4.375 8 4.375C8.54015 4.375 9.04857 4.56762 9.41551 4.89616C9.78063 5.22308 9.9735 5.65385 9.9735 6.08964C9.9735 6.45964 9.90998 6.70349 9.78527 6.92501C9.65156 7.16254 9.42852 7.40911 9.04264 7.75461L9.04262 7.75459L9.03859 7.75828L8.91716 7.86941L8.91716 7.86941L8.91518 7.87124C8.67993 8.08889 8.48281 8.29472 8.35364 8.53165C8.21345 8.78881 8.17459 9.04094 8.17459 9.31094C8.17459 9.31957 8.17125 9.34066 8.14349 9.36552C8.11391 9.39201 8.06305 9.41494 8 9.41494C7.93695 9.41494 7.8861 9.39201 7.85652 9.36552C7.82875 9.34066 7.82541 9.31957 7.82541 9.31094C7.82541 8.94095 7.88894 8.69709 8.01364 8.47558C8.14735 8.23805 8.37039 7.99148 8.75627 7.64598L8.75629 7.646L8.76033 7.64231L8.88175 7.53117L8.88176 7.53118L8.88373 7.52935C9.11898 7.3117 9.3161 7.10587 9.44527 6.86894C9.58547 6.61177 9.62432 6.35965 9.62432 6.08964C9.62432 5.6711 9.43813 5.28252 9.12854 5.00532C8.82076 4.72975 8.41405 4.58299 8 4.58299C7.58595 4.58299 7.17925 4.72975 6.87147 5.00532C6.56711 5.27783 6.38202 5.65798 6.37584 6.06843L6.37311 6.10412C6.36903 6.11618 6.3585 6.13485 6.33243 6.15384Z' fill='%23D6DBE1' stroke='%23B9C1C9'/%3E%3Ccircle cx='8.09806' cy='11.2879' r='0.837068' fill='%23B9C1C9'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_0_373'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat;
                }
            }
            .profile {
                display: flex;
                justify-content: space-between;
                padding: 1.6rem 2.4rem 2.4rem 2.4rem;
                .user-id {
                    color: #424242;
                    strong {
                        font-weight: bold;
                    }
                }
                .left-day {
                    color: #e94187;
                    em {
                        font-weight: bold;
                    }
                }
            }
            .result {
                display: flex;
                padding: 0 1.6rem;
                .box {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 1.4rem 0 7.4rem 0;
                    color: #fff;
                    > p {
                        margin-bottom: 1rem;
                        color: rgba(255, 255, 255, 0.7);
                    }
                    &.point {
                        padding-left: 2.4rem;
                        width: 52.1rem;
                        background: url(../image/has_point.png) center top / 100% no-repeat;
                        .point-wrap {
                            display: flex;
                            align-items: center;
                            font-weight: 700;
                            font-size: 2.6rem;
                            .icon {
                                width: 2rem;
                                height: 2rem;
                                margin-right: 0.6rem;
                                background: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_0_393)'%3E%3Ccircle cx='10' cy='10' r='9' stroke='white' stroke-width='2'/%3E%3Cpath d='M10.7275 11.2822H8.76172V9.92334H10.7275C11.0176 9.92334 11.2503 9.875 11.4258 9.77832C11.6048 9.68164 11.7355 9.54915 11.8179 9.38086C11.9038 9.20898 11.9468 9.01562 11.9468 8.80078C11.9468 8.57878 11.9038 8.37288 11.8179 8.18311C11.7355 7.98975 11.6048 7.83398 11.4258 7.71582C11.2503 7.59766 11.0176 7.53857 10.7275 7.53857H9.39551V14H7.64453V6.17969H10.7275C11.3506 6.17969 11.8841 6.29248 12.3281 6.51807C12.7757 6.74365 13.1177 7.05339 13.354 7.44727C13.5939 7.83757 13.7139 8.28516 13.7139 8.79004C13.7139 9.29492 13.5939 9.73356 13.354 10.106C13.1177 10.4784 12.7757 10.7684 12.3281 10.9761C11.8841 11.1802 11.3506 11.2822 10.7275 11.2822Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_0_393'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat;
                            }
                        }
                    }
                    &.match {
                        padding-right: 2.4rem;
                        margin-left: -2rem;
                        width: 58rem;
                        text-align: right;
                        background: url(../image/match_condition.png) center top / 100% no-repeat;
                        .match-wrap {
                            display: flex;
                            justify-content: right;
                            gap: 1rem;
                            font-size: 1.6rem;
                            .eng {
                                font-size: 2rem;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
}

.sec-tt {
    &.small {
        position: relative;
        color: #424242;
        letter-spacing: -0.8px;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 1.6rem;
            height: 1.6rem;
            margin-left: 0.2rem;
            background-image: url("data:image/svg+xml,%0A%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='7.25' fill='white' stroke='%23FD7E64' stroke-width='1.5'/%3E%3Cg clip-path='url(%23clip0_0_381)'%3E%3Cpath d='M9.05739 4C9.64 4 9.9313 4.3648 9.9313 4.7828C9.9313 5.3048 9.42522 5.7876 8.76652 5.7876C8.21478 5.7876 7.89304 5.4876 7.90826 4.9916C7.90826 4.5744 8.2913 4 9.05739 4ZM7.26478 12C6.80478 12 6.46783 11.7392 6.78957 10.5904L7.31739 8.5536C7.40913 8.228 7.42435 8.0972 7.31739 8.0972C7.17957 8.0972 6.58304 8.322 6.22957 8.544L6 8.192C7.11826 7.3176 8.40478 6.8052 8.95696 6.8052C9.41652 6.8052 9.49304 7.3144 9.26348 8.0972L8.6587 10.238C8.55174 10.616 8.59739 10.7464 8.70478 10.7464C8.84261 10.7464 9.29478 10.5896 9.73913 10.2636L10 10.5892C8.91217 11.608 7.72391 12 7.26478 12Z' fill='%23FD7E64'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_0_381'%3E%3Crect width='4' height='8' fill='white' transform='translate(6 4)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        }
    }
}
