@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
  font-family: 'subFont';
  src: url('../font/AeroKSans2020-ExtraBold.ttf');
}
@font-face {
  font-family: 'Noto Sans KR';
}

:root {
  /*color*/
  --main-color: #feb81e;
  --sub-color: #002554;

  --d-gray-color: #666;
  --gray-color: #999;
  /*font*/
  --sub-font: 'subFont';
  --footer-font: 'Noto Sans KR';
}

body {
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

/*layout*/
.wrap {
  position: relative;
  width: 100%;
  //height: auto;
}
.fr {
  float: right;
  &::after {
    content: '';
    clear: both;
  }
}
.show {
  display: block;
  opacity: 1;
}
.hide {
  display: none;
  opacity: 0;
}

/*margin*/
.m0 {
  margin: 0 !important;
}

.mt10 {
  margin-top: 1rem !important;
}

.mt20 {
  margin-top: 2rem !important;
}

.mb10 {
  margin-bottom: 1rem !important;
}

/*padding*/
.p0 {
  padding: 0 !important;
}

.p24 {
  padding: 2.4rem !important;
}

/*font*/
.fwb {
  font-weight: 900 !important;
}
.fc_gray {
  color: var(--gray-color);
}

/*bg color*/

/*title*/
.h2_tit {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  width: 100%;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.7rem;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}
.h3_tit {
  margin-bottom: 1.2rem;
  color: var(--main-color);
  font-family: var(--sub-font);
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 700;
  text-transform: uppercase;
}
.h4_tit {
  margin-bottom: 3.2rem;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: -0.02em;
}
.h5_tit {
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  color: #222;
  font-weight: 700;
}

/*button*/
button {
  border: 0;
  outline: 0;
}
.btn_menu {
  width: 3.2rem;
  height: 3.2rem;
  padding: 1.6rem 2.4rem;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

/*content box*/
.df_box {
  width: 100%;
  height: auto;
  padding: 0 2.4rem;
  box-sizing: border-box;
}
.inner_box {
  width: 100%;
  padding: 0 2.4rem;
  box-sizing: border-box;
}

/*componant*/
