@charset "utf-8";
// import
@import 'reset';
@import 'common';

/******header******/
.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 6.4rem;
  padding-left: 2.4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  z-index: 99;
  .header_logo {
    text-indent: -9999rem;
    a {
      width: 9.3rem;
      height: 2rem;
      background: url(../images/headerLogo_white3x.png) no-repeat 0 0 / cover;
    }
  }
  .btn_menu {
    background: url(../images/headerMenu_white3x.png) no-repeat center / 3.2rem 3.2rem;
  }
}

/******contents*******/
.contents_box {
  .main_visual_box {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .video_box {
      height: 100%;
      video {
        height: 100%;
      }
      @media screen and (min-width: 1570px) {
        video {
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .visual_typo {
      position: absolute;
      top: -0.5rem;
      right: -2rem;
      width: 16.2rem;
      height: 16.2rem;
      background: url(../images/rotate3x.png) no-repeat 0 0 / cover;
      opacity: 0.8;
    }
    .inner {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3.2rem;
      .h2_img {
        width: 100%;
        height: 8.4rem;
        background: url(../images/maintitle3x.png) no-repeat center / contain;
        text-indent: -9999rem;
      }
      .sch_box {
        padding: 3rem;
        border-radius: 1.6rem;
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(10px);
        box-sizing: border-box;
        .tit {
          display: block;
          margin-bottom: 0.8rem;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.7rem;
          color: #222;
          opacity: 0.8;
        }
        input {
          font-weight: 700;
          color: #222;
        }
        .location_box {
          display: flex;
          align-items: center;
          gap: 2.4rem;
          .city {
            padding-right: 2rem;
            background: transparent url(../images/pulldown3x.png) no-repeat 100% 30% / 1.6rem 1.6rem;
            line-height: 2.5rem;
            font-size: 2rem;
            font-weight: 700;
            color: #222;
          }
          .btn_replace {
            width: 2.6rem;
            height: 2rem;
            margin-top: 0.5rem;
            border: 1px solid #eee;
            border-radius: 3px;
            background: url(../images/circle3x.png) no-repeat center / 1.2rem 0.7rem;
          }
        }
        .date_picker {
          margin-top: 2.4rem;
          .date_grp {
            display: flex;
            line-height: 2.3rem;
            .ico_cal {
              display: inline-block;
              width: 2rem;
              height: 2rem;
              margin-right: 0.6rem;
              background: url(../images/calender3x.png) no-repeat 0 0 / cover;
            }
            .date {
              width: 9.1rem;
              font-size: 1.7rem;
              line-height: 2.1rem;
              font-weight: 700;
              color: #222;
            }
            .day {
              width: 2.6rem;
              font-size: 1.5rem;
              line-height: 1.9rem;
              font-weight: 700;
              color: #222;
            }
          }
        }
        .head_count {
          margin-top: 2.5rem;
          input {
            padding-left: 2.6rem;
            background: url(../images/human3x.png) no-repeat left / 2rem 2rem;
            font-size: 2rem;
            line-height: 2.5rem;
          }
        }
        .btn_sch {
          width: fit-content;
          margin: 2.4rem auto 0;
          padding: 1.6rem 2.4rem 1.6rem 5rem;
          background-color: var(--sub-color);
          background: var(--sub-color) url(../images/search3x.png) no-repeat 2.4rem 50% / 2rem 2rem;
          border-radius: 10rem;
          color: #fff;
          letter-spacing: -0.02em;
        }
      }
    }
  }
  .swiper.main {
    .swiper-slide {
      position: relative;
      img {
        height: 39.1rem;
        object-fit: contain;
      }
    }
  }
}

/********footer*******/
.footer {
  .inner {
    padding: 0 2.4rem;
  }
  .info {
    margin-bottom: 3.2rem;
    .logo {
      width: 13.6rem;
      height: 2.8rem;
      margin-bottom: 2.4rem;
      background: url(../images/footerLogo3x.png) no-repeat 0 0 / cover;
    }
    .company {
      display: block;
      margin-bottom: 0.8rem;
      line-height: 2.4rem;
    }
    .info_list {
      display: flex;
      flex-wrap: wrap;
      width: 29rem;
      font-size: 1.4rem;
      line-height: 2.2rem;
      color: #777;
      dt {
        font-weight: 500;
      }
      dd {
        margin-left: 0.4rem;
      }
      a {
        color: #777;
      }
      .letter_slash {
        display: inline-block;
        width: 1px;
        height: 13px;
        margin: 0.5rem 0.8rem 0 0.8rem;
        background-color: #c5c5c5;
      }
    }
    .legal_num {
      display: block;
      margin-top: 1rem;
      margin-bottom: 1.2rem;
      font-size: 1.4rem;
      line-height: 2rem;
      font-weight: 700;
      color: #666;
    }
    .copyright {
      font-weight: 400;
      line-height: 2rem;
      font-size: 1.4rem;
    }
  }
  .sns_list {
    display: flex;
    align-items: center;
    margin-bottom: 15.4rem;
    .sns {
      width: 4.8rem;
      height: 4.8rem;
      border-radius: 50%;
      background-color: #6a7385;
      text-indent: -9999em;
      + .sns {
        margin-left: 2rem;
      }
      &:first-of-type {
        background: #6a7385 url(../images/sns_facebook3x.png) no-repeat center / 1.1rem 2rem;
      }
      &:nth-of-type(2) {
        background: #6a7385 url(../images/sns_insta3x.png) no-repeat center / 2.2rem 2.2rem;
      }
      &:last-of-type {
        background: #6a7385 url(../images/sns_kakao3x.png) no-repeat center / 3rem 3rem;
      }
    }
  }
}
