@charset "utf-8";
// import
@import 'reset';
@import 'common';

/******header******/
.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 6.4rem;
  padding-left: 2.4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  z-index: 99;
  .header_logo {
    text-indent: -9999rem;
  }
}

/******contents*******/
.contents_box {
  .main_visual_box {
    position: relative;
    width: 100%;
    height: 100vh;
    .video_box {
      height: 100%;
      video {
        height: 100%;
      }
    }
    .inner {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
